<div class="form-group principal">
    <label for="">Number</label>
    <input type="text" [(ngModel)]="number" class="form-control" id="number">
    <hr>
    <label for="">Text</label>
    <input type="text" [(ngModel)]="text" class="form-control" id="number">
    <hr>
    <label for="">Number</label>
    <input type="text" [(ngModel)]="number" class="form-control" id="number">
    <br>
    <button class="btn btn-success" (click)="mudaValor()">Clique</button>
    <br>
    <br>
    <hr>

</div>

<div>

    <p>
        SLICE: {{ text | slice:5 }}
        <br>
        SLICE: {{ text | slice:1:5 }}
    </p>
    <hr>

    <p>Sem formatação:</p>
    <p>{{ number | number }}</p>
    <p>Com formatação:</p>
    <p>{{ number | number:'2.0-1' }}</p>
    <hr>

    <p>Moeda:</p>
    <p>{{ number | currency:'BRL' }}</p>
    <p>Porcentagem:</p>
    <p>{{ number | percent }}</p>
    <hr>

    <p>Textos:</p>
    <p>{{ text | titlecase }}</p>
    <p>{{ text | uppercase }}</p>
    <hr>

    <p>Datas:</p>
    <p>{{ date }}</p>
    <p>{{ date | date }}</p>
    <p>Formatada -> {{ date | date:'dd/MMM/YYYY':'GMT-0300':'en-US' }}</p>
    <p>{{ date | date:'full' | uppercase }}</p>
    <hr>

    <p>{{ pessoa | json }}</p>

</div>
<br>
<br>
<div class="containe">
    <div class="col">
        <div class="row-6">
            <div class="form-goup">
                <label for="">Print Pipe Test:</label>
                <input type="text" class="form-control" id="text" #texto>
                <br>
                <button class="btn btn-primary" (click)="add(texto.value)">Add</button>
            </div>
        </div>
        <div class="row-6">
            <h3>Lista Formatada</h3>
            <p>Tamanho da lista: {{ nomes.length }}</p>
            <p> {{ nomes | printList }}</p>
        </div>
    </div>
</div>
