<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center"> Lista de usuários</h1>
        <button class="btn btn-success my-4 float-end" routerLink="/form">Cadastrar Novo</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Profissão</th>
                <th scope="col" colspan="2"></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Ivo</td>
                <td>26</td>
                <td>Desenvolvedor</td>
                <td>
                    <button class="btn btn-primary">Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger">Excluir</button>

                </td>
        </tbody>
    </table>
</div>